*{
    margin: 0 auto;
    padding: 0;
}
.contenitore{
    min-width: 1171px;
    min-height: 138px;
    background-color: purple;
    margin: 0 150px;
}
.blocco-iniziale{
    min-width: 1168px;
    min-height: 491px;
    background-color: palegoldenrod;
    margin: 37px 150px;
}
.blocco-centrale{
    min-width: 1168px;
    min-height: 670px;
    background-color: rgb(115, 206, 248);
    margin: 37px 150px;
    position: relative;
}
.blocco-finale{
    min-width: 1168px;
    min-height: 65px;
    background-color: rgb(252, 145, 225);
    margin: 37px 150px;
}
.divisore-top{
    background-color: rgb(0,0,255);
    min-width: 100%;
    min-height: 21px;
    position: absolute;
    top: 13%;
}
.divisore-bottom{
    background-color: rgb(0, 0,255);
    min-width: 100%;
    min-height: 21px;
    position: absolute;
    bottom: 0;
}
.divisore-left{
    background-color: rgb(0,0,255);
    min-width: 21px;
    min-height: 550px;
    float: left;
    margin-left: 20%;
    margin-top: 8.5% ;
}
.divisore-right{
    background-color: rgb(0,0,255);
    min-width: 21px;
    min-height: 550px;
    float: left;
    margin-left: 55%;
    margin-top: 8.5%;
}
